.container-text {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
}
.container1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: brown;
	border-top: 1px ;
	border-right: 2px ;
	border-left: 10px ;
}
#menu {
  position: relative;
  height: 60px;
  margin: 0;
  background: #ff0000;
}

#menu:after {
  position: absolute;
  content: '\f015';
  display: inline-block;
  font-family: FontAwesome;
  left: 0;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 80px;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 20px;
}